/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@400;500;700&display=swap');

$nyc-dark-blue:           #001D41;
$nyc-light-blue:          #00A1DF;
$primary:                 $nyc-light-blue;
$link-color:              $nyc-light-blue;
$font-family-sans-serif:  'Lato', sans-serif;
$headings-font-family:    'Oswald', sans-serif;
$navbar-bg:               $nyc-dark-blue;
$navbar-fg:               #ffffff;

/*-- scss:rules --*/

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  color: $nyc-light-blue;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

hr {
  border-color: $nyc-light-blue;
  border-width: 2px;
}

.nav-footer {
  background-color: $nyc-dark-blue;
  color: #ffffff;
}